{{#if this.isChecked}}
    <li class="list-group-item active">
        <Input @type = "checkbox" @checked = {{this.isChecked}}/>
        Checkbox checked
    </li>
{{else}}
    <li class="list-group-item">
        <Input @type = "checkbox" @checked = {{this.isChecked}}/>
        Checkbox not checked
    </li>
{{/if}}