<div class="card rounded">
    <div class="card-header list-group-item">Header</div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item">Content</li>
            <li class="list-group-item">Content</li>
            <li class="list-group-item">Content</li>
            <li class="list-group-item">Content</li>
        </ul>
    </div>
</div>