<div class="card">
    <div class = "card-header" style = "padding: 12px">Unstarted</div>
    <div class="card-body" style="padding: 12px">
        <ul class="list-group">
            <li>{{yield}}</li>
        </ul>
    </div>
</div>