<div class="container">
    <nav class="navbar navbar-inverse nav-fill w-100">
        <div class="navbar-header">
            <LinkTo @route="index" class="navbar-brand">Home</LinkTo>
        </div>
    </nav>

    <div class = "body">
        {{outlet}}
    </div>
</div>